<!DOCTYPE html>
<html>

<HEAD>
    <title>404</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</HEAD>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{error_message}}</h1>
    </div>

    {{>footer}}
</body>
</html>