<!DOCTYPE html>
<html>

<HEAD>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</HEAD>

<body>
    <div class="main-content">
       {{>header}}
        <img class= "robot" src="./img/robot.png" alt="can't load image!">
    </div>
    {{>footer}}
</body>
</html>