<!DOCTYPE html>
<html>

<HEAD>
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</HEAD>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    {{>footer}}
</body>
</html>